body {
	font-size: 20px;
	text-align: center;
}
p {
	margin-top: 10px 0;
}
form {
	border-top: 1px solid rgb(57, 177, 28);
	border-bottom: 1px solid rgb(57, 177, 28);
	width: 725px;
	display: inline-block;
}
.clearfix {
	overflow: auto;
}
#converter {
	padding: 0 50px 20px 50px;
	/*max-width: 70%;*/
}
.converterLeft {
	margin: 5px;
	float: left;
	display: block;
}
.converterRight {
	margin: 5px;
	float: left;
	display: block;
}
input, select {
	box-sizing: border-box;
	height: 30px;
	width: 350px;
	border: 1px solid rgba(127, 127, 125, 0.7);
	display: block;
}